#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0;
  font-size: 15px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: gray;
  padding: 10px;
}
.user-component__avatar {
  width: 40px;
  height: 40px;
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel-header {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.friends-screen__channel-header i {
  display: flex;
  justify-content: flex-end;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
